/user_guide
/application/logs
/application/.DS_Store
/logs
/uploads
/sftp-config.json
/aa.sublime-project
/.vscode
aa.sublime-workspace
/application/vendor
/application/.env
error_log
application/composer.lock
*/.DS_Store