<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebCUNOP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D290003E637A20770EAA51BC919CEF7A495A4CCE</string>
				<key>dateExpires</key>
				<string>1/8/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R4HPJPM5A3.mx.com.mindware.webcunop</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R4HPJPM5A3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>R4HPJPM5A3.mx.com.mindware.webcunop</string>
				</array>
			</dict>
			<key>name</key>
			<string>WebCUNOP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d13110c0-aeb0-410b-ac95-2a52b6f9fc10</string>
				<key>name</key>
				<string>WebCunop adhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R4HPJPM5A3</string>
				<key>name</key>
				<string>Xavier Alfeiran Sainz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
